---
layout: single
---


<!-- <h3 class="archive__item-body">About me</h3> -->
<h1 id="page-title" class="archive__subtitle">About me</h1>

<p>I am a final-year PhD student at The Chinese University of Hong Kong (CUHK), where I also received my B.Sc. in Computer Science in 2019.</p>
<p>I study the use of computational methods for natural language, with a particular interest in computational semantics. My PhD research centres around sentence-level meaning representations, and studies them through the lens of graph grammars and distributional semantics.</p>
<p>Feel free to reach me at aaronlo326 [at] gmail [dot] com!</p>
<!-- {{ content }}  -->


<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

