---
layout: single
---


<h3 class="archive__item-body">About me</h3>

<p>I am a final-year PhD student at The Chinese University of Hong Kong (CUHK), where I also received my B.Sc. in Computer Science in 2019. I am mostly interested in computational semantics.</p>

<p>Feel free to reach me at aaronlo326 at gmail.com!</p>
<!-- {{ content }}  -->


<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

